
h1 {
  margin: 10px 20px 0;
  border-bottom: 2px solid black;
}
/*
ul {
  margin: 10px 20px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: flex-start;
}
*/
section {
  width: 50%;
}
.sidebar {
  background: #efefef;
}
